---

---

<section class="w-full py-64">
  <div class="relative max-w-6xl mx-auto px-4">
    <div class="group relative border-2 border-zinc-700 hover:border-zinc-400">
      <span class="absolute -top-4 left-6 px-2 bg-neutral-950 text-zinc-500 text-md font-semibold group-hover:text-zinc-300">
        Coming Soon
      </span>
      <div class="p-16 sm:p-32">
        <p class="w-full text-center text-white font-bold text-3xl sm:text-8xl">
          Coming Soon
        </p>
      </div>
    </div>
  </div>
</section>
