---

---



<section class='w-full pb-8'>
  <div class='max-w-7xl mx-auto relative'>

    <div class="absolute inset-0 flex flex-col items-center justify-center z-10">
      <h1 class="text-9xl font-bold text-white">Jarno Fret</h1>
      <h4 class="pb-20 text-2xl font-bold text-neutral-400">Creative, Software Engineer, Content Creator</h4>
    </div>

    <div class="flex justify-center font-mono text-zinc-800 leading-none tracking-tighter whitespace-pre overflow-x-auto select-none">
<pre class="text-5xl sm:text-5xl">
         __________  __  ________       
        /_  __/ __ \/ / / / ____/       
         / / / /_/ / / / / __/          
        / / / _, _/ /_/ / /___          
       /_/ /_/ |_|\____/_____/          
                                        
    ________________  ____  ____________
   / ____/ ____/ __ \/ __ \/ ____/_  __/
  / /_  / __/ / /_/ / /_/ / __/   / /   
 / __/ / /___/ _, _/ _, _/ /___  / /    
/_/   /_____/_/ |_/_/ |_/_____/ /_/     
                                        
</pre>
    </div>


  </div>
</section>