---
import { getCollection } from "astro:content";

const techSections = await getCollection("tech");

function formatTitle(fileName: string) {
  const name = fileName.replace(".json", "");
  if (name === "tools") {
    return name.charAt(0).toUpperCase() + name.slice(1) + ":"; // Special case for tools
  }
  return name.charAt(0).toUpperCase() + name.slice(1) + " Technologies:";
}
---

<script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js" />

<section class="w-full pt-16 pb-32 overflow-x-hidden">
  <div class="max-w-4xl mx-auto px-4">
    {techSections.map((section) => (
      <div class="pb-16">
        <h2 class="text-3xl font-bold mb-6">{formatTitle(section.id)}</h2>
        <div class="flex flex-row gap-4 flex-wrap">
          {
            section.data.map((tech) => (
              <div class="tech-item relative group">
                <iconify-icon
                  icon={tech.name}
                  width="48"
                  height="48"
                  class="text-zinc-400 hover:text-zinc-100 block"
                  loading="lazy"
                />
                <div class="absolute bottom-16 left-1/2 transform -translate-x-1/2 bg-zinc-950 text-zinc-100 border-2 border-zinc-700 px-3 py-2 shadow-lg opacity-0 group-hover:opacity-100 pointer-events-none z-10 w-64 text-center">
                  <span class="hidden sm:block absolute -top-3 left-3 px-2 bg-neutral-950 text-zinc-500 text-sm font-semibold">
                    whatis
                  </span>
                  <div class="font-semibold text-sm">{tech.title}</div>
                  <div class="text-xs text-zinc-300 mt-1">{tech.description}</div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    ))}
  </div>
</section>
