---

---



<section class="w-full py-10">
  <div class="relative max-w-6xl mx-auto px-4">
    <div class="relative border-2 border-zinc-700 hover:border-zinc-400 transition-all">
      <span class="absolute -top-4 left-6 px-2 bg-neutral-900 text-zinc-500 text-md font-semibold group-hover:text-zinc-300 transition-colors">whoami</span>

      
    </div>
  </div>
</section>
